<link rel="stylesheet" href="__PUBLIC__/Home/css/goodsCollect.css" />

<!--引入了js文件-->
<script src="__PUBLIC__/Home/js/goodsCollect.js"></script>
<!--页面主要内容-->

<div id="mainContent">

	<!--首页导航-->
	<div class="clearFix">
		<a href="">当当</a>
		<span>&gt;</span>
		<a href="">手机通讯&gt;</a>
		<span>&gt;</span>
		<a href="">手机</a>
	</div>
	
	<!--左侧菜单-->
	<div class="fl clearFix">
		<div id="nav" style="float:left;margin-top:20px;">
			<h3>我的交易<a href="javascript:void(0)" class="slide_down" ></a></h3>
			<ul>
				<li><a href="#" class="zi on">我的账单</a></li>
				<li><a href="#" class="zi">我的订单</a></li>
			</ul>
			<h3>我的收藏<a href="javascript:void(0)" class="slide_down" ></a></a></h3>
			<ul>
				<li><a href="javascript:void(0)" class="zi collectGoodsA">商品收藏</a></li>
				<li><a href="#" class="zi">店铺收藏</a></li>
			</ul>
			<h3>个人中心<a href="javascript:void(0)" class="slide_down" ></a></h3>
			<ul>
				<li><a href="#" class="zi">个人信息</a></li>
				<li><a href="javascript:void(0)" class="zi buyaddressA">收货地址</a></li>
			</ul>
		</div>
	</div>

	<!--右侧收藏商品信息-->
	<!--rightFlag是标识符用于js隐藏-->
	<div class="fl clearFix rightBox hideNow collectGoodsBox rightFlag">
		<!--商品收藏头-->
		<div class="head">
			<div>商品收藏</div>
		</div>
	
		<!--排序-->
		<div class='orderBox'>

			<!--选项排序-->
			<div class="filter">
				<ul class="clearFix">
					<li class="on">排序<span class="icon"></span></li>
					<li class="iconHover">时间<span class="icon"></span></li>
					<li class="iconHover">价格<span class="icon"></span></li>
				</ul>
			</div>
			

			<!--有商品才显示-->
			<!--全选,批量删除,批量购买-->
			<div class="clearFix collectMenuBox">
				<div class="fl">
					<ul class="">
						<li class="label selectAll"><input type="checkBox">全选</li>
						<li><span class="btn btnNone">批量删除</span></li>
						<li><span class="btn">批量购买</span></li>
					</ul>
				</div>
				<div class="fr">
					分页样式输出
				</div>
			</div>
		</div>

		<!--商品头信息-->
		<div class="opBox">
			<span class="r1">商品信息</span>
			<span class="r2">金额</span>
			<span class="r3">操作</span>
		</div>
		
		<!--具体商品信息-->
		<div clas="clearFix marginRight">
				<ul class="myfavo_list clearFix">
					<li>
						<!--商品详细信息-->
				       <div class="r1">
						<input class="chosen" name="CheckAll" id="CheckAll" onclick="javascript:check_one_click(this,1236855336);" value="1236855336" type="checkbox">

						<!--商品图片-->
						<div class="things">
							<a title="三星/Samsung Galaxy A7 4G手机 (A7000/A7009) 电信版_电信版-白色" class="pic" href="http://product.dangdang.com/1236855336.html?ref=customer-0-B" target="_blank"><img class="lazyload" alt="" original="http://img36.ddimg.cn/24/22/1236855336-1_t.jpg" src="http://img36.ddimg.cn/24/22/1236855336-1_t.jpg"></a>
						</div>
						<div class="details">
							<p>
								<!--商品名-->
								<span class="icon icon_shop"></span>
								<a class="title">三星/Samsung&nbsp;Galaxy&nbsp;A7&nbsp;4G手机&nbsp;(A7000/A70
								</a>
							</p>

							<!--已有多少人评论-->
						 	 <p class="gray">
							  	<span class="space">已有
							  		<a target="_blank" href="http://product.dangdang.com/1236855336.html#comment">0</a>人评论
							  	</span>
						 	 </p>
							 
							 <!--收藏时间-->
						 	 <p class="gray">收藏时间：2016-11-04</p>	
						</div>     
					</div><!--商品详细信息结束-->
					

					<!--商品价格-->
					<div class="r2 center">
                        <p><span class="price">¥800.00&nbsp;(36折)</span></p>
                        <!-- <p>比放入时降低了<span class="price red">¥50.00</span></p> -->
                    </div>

                    <!--商品库存-->
					<div class="r3 center">
                        <p>现货</p><p><span class="tag tag_ylyx">余量有限</span></p>
                    </div>

					<!--操作-->
                    <div>
                    	 <p>
                    	 	<a id="go_cart" class="btn btn_buy" href="javascript:void(0);" dd_name="加入购物车" onclick="javascript:btnSingleBuyClick(1236855336,1);return false;">加入购物车</a>
                    	 	<a class="del" href="javascript:(void)">删除</a>
                    	 </p> 
                    </div>                    
				</li>


				<!--单个商品遍历尝试-->
				<li>
						<!--商品详细信息-->
				       <div class="r1">
						<input class="chosen" name="CheckAll" id="CheckAll" onclick="javascript:check_one_click(this,1236855336);" value="1236855336" type="checkbox">

						<!--商品图片-->
						<div class="things">
							<a title="三星/Samsung Galaxy A7 4G手机 (A7000/A7009) 电信版_电信版-白色" class="pic" href="http://product.dangdang.com/1236855336.html?ref=customer-0-B" target="_blank"><img class="lazyload" alt="" original="http://img36.ddimg.cn/24/22/1236855336-1_t.jpg" src="http://img36.ddimg.cn/24/22/1236855336-1_t.jpg"></a>
						</div>
						<div class="details">
							<p>
								<!--商品名-->
								<span class="icon icon_shop"></span>
								<a class="title">三星/Samsung&nbsp;Galaxy&nbsp;A7&nbsp;4G手机&nbsp;(A7000/A70
								</a>
							</p>

							<!--已有多少人评论-->
						 	 <p class="gray">
							  	<span class="space">已有
							  		<a target="_blank" href="http://product.dangdang.com/1236855336.html#comment">0</a>人评论
							  	</span>
						 	 </p>
							 
							 <!--收藏时间-->
						 	 <p class="gray">收藏时间：2016-11-04</p>	
						</div>     
					</div><!--商品详细信息结束-->
					

					<!--商品价格-->
					<div class="r2 center">
                        <p><span class="price">¥800.00&nbsp;(36折)</span></p>
                        <!-- <p>比放入时降低了<span class="price red">¥50.00</span></p> -->
                    </div>

                    <!--商品库存-->
					<div class="r3 center">
                        <p>现货</p><p><span class="tag tag_ylyx">余量有限</span></p>
                    </div>

					<!--操作-->
                    <div>
                    	 <p>
                    	 	<a id="go_cart" class="btn btn_buy" href="javascript:void(0);" dd_name="加入购物车" onclick="javascript:btnSingleBuyClick(1236855336,1);return false;">加入购物车</a>
                    	 	<a class="del" href="javascript:(void)">删除</a>
                    	 </p> 
                    </div>                    
				</li>
			</ul>
		</div>
		
		<!--有商品才显示全选,批量删除,批量购买-->
		<div class='orderBox'>
			<!--全选,批量删除,批量购买-->
			<div class="clearFix collectMenuBox">
				<div class="fl">
					<ul class="">
						<li class="label"><input type="checkBox" class="selectAll">全选</li>
						<li><span class="btn btnNone">批量删除</span></li>
						<li><span class="btn">批量购买</span></li>
					</ul>
				</div>
				<div class="fr">
					分页样式输出
				</div>
			</div>
		</div>
	</div><!--右侧商品收藏结束-->

	
	<!--**************************************************************************************************************-->

	<!--右侧收货地址开始--><!--rightFlag是标识符用于js隐藏-->
	<div class="fl clearFix account_right rightFlag buyaddressBox">
		<div id="list">
			<div class="problem"></div>
			<h2>收货地址簿</h2>

			<!--收货地址列表-->
			<div id="orderList">
				<div class="my_address_info">
					<!--收货地址1-->
					<div id="div_addrs_1" class="other_address">
						<ul class="clearFix">

							<!--收货地址显示栏-->
							<li>
								<span class="address_num">1、</span>
								<span class="address_text">注册,&nbsp;中国,&nbsp;河北,&nbsp;秦皇岛市,&nbsp;北戴河区,&nbsp;**打算,&nbsp;212323,&nbsp;123,&nbsp;132****2323</span>		
							</li>

							<!--收货地址按钮栏-->
							<li class="my_address_btn">
								<input value="修 改" name="button_update" class="button_delete" type="button">
								<input value="删 除" name="button_delete" class="button_delete" type="button">

								<!--设为默认收货地址-->
								<span><a href="javascript:set_default(145672784)">设为默认地址</a></span>
							</li>
						</ul>
					</div>

					<!--收货地址1-->
					<div id="div_addrs_1" class="other_address">
						<ul class="clearFix">
						
							<!--收货地址显示栏-->
							<li>
								<span class="address_num">1、</span>
								<span class="address_text">注册,&nbsp;中国,&nbsp;河北,&nbsp;秦皇岛市,&nbsp;北戴河区,&nbsp;**打算,&nbsp;212323,&nbsp;123,&nbsp;132****2323</span>		
							</li>

							<!--收货地址按钮栏-->
							<li class="my_address_btn">
								<input value="修 改" name="button_update" class="button_delete" type="button">
								<input value="删 除" name="button_delete" class="button_delete" type="button">

								<!--设为默认收货地址-->
								<span><a href="javascript:set_default(145672784)">设为默认地址</a></span>
							</li>
						</ul>
					</div>
					<div class="my_address_dashed"></div>
				</div>
			</div><!--收货地址列表结束-->

			<!--分页样式输出-->
			<div class="fanye" id="div_paging">
				<a class="fanye_page fanye_none" href="javascript:void(0);"><span>下一页</span></a><a class="nonce"><span>1</span></a><a class="fanye_page fanye_none" href="javascript:void(0);"><span>上一页</span></a>
		     </div>	<!--分页样式输出结束-->

		     <!--修改收货地址的容器-->
		     <div class="my_address_info my_address_add" id="myaddress_container">
		     	<h5>新增收货地址</h5>

		     	<!--提交收货地址的表单-->
		     	<form action="" id="myaddress" method="post" name="myaddress">
		     		<div class="my_address_add_info">
		     			<p>
		     				<label for="">
		     					<strong>*</strong>
		     					收货人
		     				</label>
		     				<input name="ship_man" id="ship_man" maxlength="40" type="text" class="checkInput">

		     				<!--身份证备用-->
		     				<!-- <label style="display:none">身份证：</label>
		     				<input style="display:none" name="id_card" id="id_card" maxlength="18" type="text"> -->

		     				<!--tip-->
		     				<span id="spn_ship_man" class="hint new_tip" style="display:none">请填写收货人姓名</span>
		     			</p>

		     			<!--地区选项框-->
		     			<p id="area">
		     				<label for="">
		     					<strong>*</strong>
		     					地区
		     				</label>
		     				<select name="" id=""></select>
		     				<select name="" id=""></select>
		     				<select name="" id=""></select>

		     				<!--tip-->
		     				<span id="spn_country_province_city" class="hint new_tip" style="display:none">请选择完整的收货地址信息</span>
		     			</p>

		     			<!--街道地址-->
		     			<p>
		     				<label for="">
		     					<strong>*</strong>
		     					街道地址
		     				</label>
		     				<input id="addr_detail" name="addr_detail" maxlength="200" size="50" type="text" class="checkInput">

                             <!--tip-->
                             <span id="spn_addr_detail" class="hint new_tip" style="display:none">请填写街道地址</span>
		     			</p>

		     			<!--邮政编码选项-->
		     			<p>
		     				<label for="">
		     					<strong>*</strong>
		     					邮政编码
		     				</label>
		     				<input id="ship_zip" name="ship_zip" type="text" class="checkInput">

		     				 <!--tip-->
		     				<span id="spn_ship_zip" class="hint new_tip" style="display:none">请填写您的邮编 正确的邮编有助于加快送货速度</span>
		     			</p>

						<!--手机号码验证-->
		     			<p>
		     				<label for="">
		     					<strong>*</strong>
		     					手机
		     				</label>
		     				<input id="ship_phone" name="ship_phone" type="text" class="checkInput">

		     				<!--tip-->
		     				<span id="spn_ship_mb" class="hint new_tip" style="display:none"><span class="icon icon-warn"></span>手机号码不正确</span>
		     			</p>

		     			<!--设为默认收货地址-->
		     			<p class="address_add_checkoux">
		     				<p class="address_add_checkbox">
                                                <input value="" name="default_flg" id="default_flg" type="checkbox" ><span>设为默认地址</span>
                             </p>
		     			</p>

		     			<!--保存按钮-->
		     			<p class="address_add_btn">
                            <button>保存</button>
                        </p>
		     		</div>
		     	</form>
		     </div>
		</div>
	</div><!--右侧收货地址管理结束-->

</div><!--右侧整个大盒子结束-->
