<!--引入头部index样式-->
<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
<!--引入轮播图插件-->
<link rel="stylesheet" href="__PUBLIC__/component/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" /> 
<link rel="stylesheet" href="__PUBLIC__/component/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/component/nivo-slider/style.css" type="text/css" media="screen" />
    	<!--轮播图js插件-->
<script type="text/javascript" src="__PUBLIC__/component/nivo-slider/jquery.nivo.slider.js"></script>

<script src="__PUBLIC__/Home/js/index.js"></script>

<div id="main_content"><!--首页主要内容结束-->
	<!--头部标签页-->
	<div class="ele_top clearFix">
		<div class="">
			<div class="fl">
				<span>当当电器城</span>
				<span>|</span>
				<span>放心购</span>
			</div>
			<ul class="fl">
				<li><a href="">手机馆</a></li>
				<li><a href="">手机馆</a></li>
				<li><a href="">手机馆</a></li>
				<li><a href="">手机馆</a></li>
				<li><a href="">手机馆</a></li>
			</ul>		
		</div>
	</div><!--头部标签页结束-->

	<!--中间分类和分类显示大盒子-->
	<div class="clearFix">
		<div class="cat_box fl clearFix">
			<ul>
				<!--全分类永远存在-->
				<li><a href="">全分类</a></li>
				<volist name="catArr" id="cat">
					<li><a href="javscript:void(0)"><{$cat['catname']}></a></li>
				</volist>		
				<!-- <li><a href="">电脑/平板</a></li> -->
			</ul>
		</div>

		<!--中间开始详细分类变化层开始--><!--全分类层-->
			<!--全分类层对应的middleNav是永远存在的-->
		<div class="middleNav fl clearFix AllCat">
			<div class="fl LmiddleNav clearFix">

				<!--分类内容-->
				<ul class="clearFix">
					<volist name="catArr" id="cat">
						<li><a href="<{:U('index/goodsList',['path'=>$cat['path'],'cid'=>$cat['id']])}>"><{$cat['catname']}></a></li>
					</volist>
			<!-- 	<li><a href="">手机/配件</a></li>
					<li><a href="">电脑办公</a></li>
 -->
				</ul>
				<ul class="hot_keys clearFix">
					<volist name="cat_product" id="randomproduct">
						<volist name="randomproduct" id="product">
						<li><a href="<{$product['spuid']}>"><{$product['name']}></a></li>
						</volist>
					</volist>
				</ul>
			</div>
			<div class="fr">
				<div class="img_nav">
					<!-- <img src="__PUBLIC__/Home/img/17991-640x280-10.24.jpg" alt=""> -->
					<div id="wrapper">
				        <div class="slider-wrapper theme-default">

				        	<!--轮播图-->
				            <div id="slider" class="nivoSlider">
				            	<a href=""> <img src="__PUBLIC__/Home/img/nav1.jpg" data-thumb="__PUBLIC__/Home/img/nav1.jpg" alt="" /></a>
				     			<a href=""> <img src="__PUBLIC__/Home/img/nav2.jpg" data-thumb="__PUBLIC__/Home/img/nav2.jpg" alt="" /></a>
				     			<a href=""> <img src="__PUBLIC__/Home/img/nav3.jpg" data-thumb="__PUBLIC__/Home/img/nav3.jpg" alt="" /></a>
				     			<a href=""> <img src="__PUBLIC__/Home/img/nav5.jpg" data-thumb="__PUBLIC__/Home/img/nav5.jpg" alt="" /></a>
				            </div>
				        </div>
				        <div class="footer-banner" style="width:728px; margin:0 auto"></div>
	   				 </div>
				</div>
				<!--轮播图下方的图片-->
				<div class="img_behind_nav">
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
				</div>
			</div>
		</div><!--中间开始详细分类变化层结束-->
		
	
		<volist name="catArr" id="cat">
		<!--中间开始详细分类变化层开始--><!--各个分类层-->
		<div class="middleNav fl clearFix  hideNow ">
			<div class="fl LmiddleNav">
				<dl>
					<!--分类名和左侧相同-->
					<dt><a href="<{:U('index/goodsList',['path'=>$cat['path'],'cid'=>$cat['id']])}>"><{$cat['catname']}></a></dt>

					<!--具体分类-->
					<dd>
						<volist name="cat['child']" id="secCat">
								<a href="<{:U('index/goodsList',['path'=>$secCat['path'],'cid'=>$secCat['id']])}>"><{$secCat['catname']}></a>
							<!--子分类输出6条-->
							<volist name="secCat['child']" id="thdCat" offset="0" length="6">
								<a href="<{:U('index/goodsList',['path'=>$thdCat['path'],'cid'=>$thdCat['id']])}>">
								<{$thdCat['catname']}></a>
							</volist>

							
						</volist>

						<!--品牌输出-->
						<volist name="cat['cat_brand']" id="brandname">
							<a href="<{:U('index/goodsList',['path'=>$cat['path'],'brandid'=>$brandname['id'],'cid'=>$thdCat['id']])}>">        <{$brandname['brandname']}></a>
						</volist>	
					</dd>
				</dl>
			</div>
			<div class="fr">
				<div class="img_nav">
					<img src="__PUBLIC__/Home/img/17991-640x280-10.24.jpg" alt="">
				</div>
				<!--全部分类的轮播图-->
				<div class="img_behind_nav">
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/img/4-1-160929-zw.jpg" alt=""></a>
				</div>
			</div>
		</div><!--中间开始详细分类变化层结束-->
		</volist>

		<!--最右侧服务保障开始-->
		<div class="service_insure fr clearFix">
			<div>
				<img src="__PUBLIC__/Home/img/2014.9.9_fuwu.jpg" alt="">
			</div>
			<!--轮播图-->
			<div class="showImg">
				<div id="wrapper">
				        <div class="slider-wrapper theme-default">
				        	<!--轮播图-->
				            <div id="showImg" class="nivoSlider">
				            	<a href=""> <img src="__PUBLIC__/Home/img/1-160811-zw123.jpg" data-thumb="__PUBLIC__/Home/img/1-160811-zw123.jpg" alt="" /></a>
				     			<a href=""> <img src="__PUBLIC__/Home/img/navsm.jpg" data-thumb="__PUBLIC__/Home/img/navsm.jpg" alt="" /></a>
				            </div>
				            <div id="htmlcaption" class="nivo-html-caption">
				                1
				            </div>
				        </div>
				        <div class="footer-banner" style="width:728px; margin:0 auto"></div>
	   			</div>
			</div>
		</div><!--最右侧服务保障结束-->
	</div><!--中间分类和分类显示大盒子结束-->
	
	<!--推广产品-->
	<!-- <div id="broadCast">
		<div class="clearFix">
			<span class="fl">推广产品</span> -->

			<!--轮播图按钮-->
	<!-- 		<div class="switchBtn fr clearFix">
				<a href="" class="fl" style="background:url(http://localhost/ddEle/Public/Home/img/home_sprite2_1017.png) -81px -542px no-repeat"></a>
				<a href="" class="fl" ></a>
			</div>
		</div> -->

		<!--轮播框-->
	<!-- 	<div class="broadCastContent">
			<ul class="clearFix">
				<li>
					<a href="">
						<img width="150px" height="150px" src="__PUBLIC__/Home/img/1261978827-1_b_1.jpg" alt="">
					</a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
			</ul>

			<ul class="clearFix">
				<li>
					<a href="">
						<img width="150px" height="150px" src="__PUBLIC__/Home/img/1261978827-1_b_1.jpg" alt="">
					</a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li>
				<li>
					<a href=""><img width="150px" height="150px" src="__PUBLIC__/Home/img/1259894836-1_b_1.jpg" alt=""></a>
					<p class="name">
						<a href=""><span>美乐（JoanMiro）伍</span><span>德动物造型笔 儿童手工雕刻</span></a>
					</p>
					<p class="price"><span>¥18.80</span></p>
					<span class="cover"></span>
				</li> -->	
			<!-- </ul> -->
		<!-- </div>轮播框结束 -->
	<!-- </div>推广产品结束 -->

	<!--楼层展示-->
	<volist name="catArr" id="cat" key="m">
	<div class="floor">
		<div class="topFloor clearFix">
			<h1 class="fl">
				<{$m}>F<{$cat['catname']}>
				<span class="floorName"></span>
			</h1>
			<div class="floor_floor fl">
				<ul>
					
					<volist name="cat['child']" id="seccat" empty="">
						<!--分类名-->
						<li><a href="javascript:void(0)"><{$seccat['catname']}></a></li>
					</volist>
				<!-- 	<li>厨房电器</li>
					<li>生活电器</li> -->
				</ul>
				<div class="arrow"></div>
			</div>

		</div>

		<!--楼层具体内容-->
		<div class="mainFloor">
			<div class="clearFix">
				 <div class="">
			       	<volist name="cat['child']" id="secCat" empty="没有数据" key="k">
				 	 <div class="fl clearFix <if condition="($k gt 1)">hideNow</if> floorContent"><!--左中部楼层开始1-->
						<!--楼层左部内容-->
						<div class="leftFloor fl">
							<div>
								<img src="__PUBLIC__/Home/img/4949-7m.jpg" alt="">
							</div>
							<ul class="brandUl clearFix">
								<volist name="secCat['spu']" id="spu" empty="没有数据">
									<li><a href=""><{$spu['spuname']}></a></li>
								</volist>
								
								<!-- <li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">苹果</a></li> -->
							</ul>
						</div>

						<!--楼层中间内容-->
						<div class="middleFloor fl">
							<ul style="width:732px" class="clearFix">
			
								<volist name="secCat['spu']" id="spu">
									<li class="floorGoods">
										<a title="" href="__PUBLIC__/Home/img/1022143948-1_l_5" target="_blank"><img src="<{$Think.const.GOODSIMGPATH}><{$spu['imgurl']}>" alt="<{$spu['spuname']}>" width="150px" height="150px">
										</a>
										<div class="name">
											<{$spu['spuname']}>
										</div>
										<p class="price">
											<span class="sign">¥</span>
											<span class="number"><{$spu['price']}></span>
										</p>
										<!--抢字图标-->
										<!-- <div class="icon_pop">
											<span style="background: url(__PUBLIC__/Home/img/xsq.png) no-repeat 0px 0px;" class="product_tags">
											</span>
										</div> -->
									</li>
								</volist>
							</ul>
						</div><!--楼层中间内容结束-->
					</div><!--左中部楼层结束-->
		        </volist>
				 </div>
				
				<!--楼层右部内容开始-->
				<div class="rightFloor fr">
					<div class="rgFloorTop clearFix">
						<ul class="clearFix">

							<li class="on"><{$}></li>
							<!-- <li>手机配件</li> -->
						</ul>
					</div>

					<div class="rgFloorRank clearFix"><!--各类排名1开始-->
						<ul>
							<li class="briefItem clearFix hideNow">
								<span class="rankNumber">1</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix ">
								<span class="rankNumber">1</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>
							<li class="briefItem clearFix">
								<span class="rankNumber">2</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">2</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>
							<li class="briefItem clearFix">
								<span class="rankNumber">3</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">3</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>
							<li class="briefItem clearFix">
								<span class="rankNumber">3</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">3</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>
							<li class="briefItem clearFix">
								<span class="rankNumber">4</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">4</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

							<li class="briefItem clearFix">
								<span class="rankNumber">5</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">5</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

							<li class="briefItem clearFix">
								<span class="rankNumber">6</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">6</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

							<li class="briefItem clearFix">
								<span class="rankNumber">7</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">7</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

							<li class="briefItem clearFix">
								<span class="rankNumber">8</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">8</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

							<li class="briefItem clearFix">
								<span class="rankNumber">9</span>
								<p><a href="">（限购1件）LINKON&nbsp;&nbsp;创意便携</a></p>	
							</li>
							<li class="DetailItem clearFix hideNow">
								<span class="rankNumber">9</span>
								<a href=""><img src="__PUBLIC__/Home/img/1236471736-1_p_2.jpg" alt=""></a>
								<p><a href="">(限购1件)LINKON创意便携</a></p>
								<p class="detailPrice">
									<span class="rob">
										<span class="sign">¥</span>
										<span class="num">29.00</span>
									</span>
								</p>		
							</li>

						</ul>
					</div><!--各类排名1结束-->
				</div>
			</div>	
		</div>

		<!--logo展示-->
		<div class="logo clearFix">
			<ul class="clearFix">
				<volist name="cat['cat_brand']" id="brand">
				<li>
					<a href="#"><img src="<{$brand['logo']}>" width="120px" height="55px"/></a>
					<div class="mask">
						<span><{$brand['brandname']}></span>
					</div>
				</li>
				</volist>
			</ul>
		</div><!--logo展示结束-->
	</div><!--楼层展示结束-->
	</volist>
</div><!--首页主要内容结束