.clearFix:after{
	display:block;
	content:'.';
	visibility:hidden;
	clear:both;
	width:0;
	height:0;
}
#Goodscontent{
	width:1200px;
	margin:0 auto;
}
.hot_tag{
	height:30px;
	background:#F5F5F5;
}
.hot_tag_ul{
	width:1200px;
	margin:0 auto;
}
li{
	list-style:none;
}
.hot_tag li{
	float:left;
	margin-right:10px;
	margin-left:20px;
	margin-right:10px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.firstCatUl li.firstCat{
	position:relative;
	width:216px;
	line-height:35px;
	background:#F4F4F4;
	border-bottom:1px solid #D1D9E0;
}
.firstCatUl li.firstCat:hover{
	background-color:#FCF0E8;
}
.firstCatUl li.firstCat:hover>a{
	color:#FFA500;
}
#catBox>h3{
	background: url("../img/sort_box_bg.png") repeat-x scroll left 0px transparent;
	display: block;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	padding-left: 10px;
	font-size: 14px;
}
.clear{
	clear:both;
}
a{
	text-decoration:none;
	color:#666;
}
.firstCat>a{
	color:#555;
	font-size:14px;
	font-weight:bold;
	font-family: Arial,宋体,Helvetica,sans-serif;
}
.catBtn:hover{
	cursor:pointer;
}
.catBtn{
	position:absolute;
	right:0px;
	top:10px;
	display:inline-block;
	width:14px;
	height:14px;
	background: url("../img/sort_box_bg.png") no-repeat scroll -16px -134px 
}
.catBtnMinus{
	position:absolute;
	display: inline-block;
	vertical-align: middle;
	float: right;
	background: url("../img/sort_box_bg.png") no-repeat scroll -16px -118px transparent;
	width: 14px;
	height: 14px;
	margin-top: 6px;
	right:0px;
	top:6px;
}
.catBtnMinus:hover{
	cursor:pointer;
}
.secondCatUl>li{
	line-height:23px;
	float:left;
	height:23px;
	width:96px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	margin-right: 4px;
	padding: 0px 0px 5px;
	margin-top:4px;
	float: left;
	height: 18px;
	text-align:center;
}
.secondCatUl>li>a{
	color:#555;
}
.secondCatUl>li:hover{
	background:#FE792B;
}
.secondCatUl>li:hover>a{
	color:white;
}
.hideNow{
	display:none;
}
.secondCatUl{
	background:white;
}

/*一周销量排行榜*/
.saleRankBox{
	margin-top:20px;
	border:1px solid #ccc;
}
.saleRankBox .rankHeader{
	background:#F1F1F1;
	height:31px;
	line-height:31px;
	padding-left:5px;
}
.saleRankBox .rankHeader span{
	font-size:12px;
	font-weight:bold;
}
.rankDetail{
	padding:0 9px 0 9px;
}
.rankDetail>ul>li{
	position:relative;
}
.rankDetail>ul>li{
	padding: 15px 0px;
	line-height: 18px;
	border-top: 1px solid #F0E4E4;
	vertical-align: middle;
	border-bottom:1px solid #ccc;
}
.rankDetail .name,.price{
	position:absolute;
	right:0px;
}
.rankDetail .name{
	top:16px;
	left:82px;
}
p.name{
	height:36px;
	width:116px;
	overflow:hidden;
	word-break:break-all;
}
.rankDetail .price{
	bottom:9px;
	color:#CC0000;
	left:82px;
	font-weight:bold;
}
.rankImg{
	float: left;
	border: 1px solid #D1D1D1;
	margin-right: 5px;
	width: 56px;
	height: 56px;
	overflow: hidden;
}
span.number{
	float:left;
	background:#FE7D17;
	width:16px;
	height:16px;
	color:white;
	text-align:center;
	margin-right:5px;
}
p.name a:hover{
	text-decoration:underline;
	color:#ED5050;
}
/*推广内容*/

.AdBox .AdBoxHeader{
	background:url("../img/bk_ad.jpg");
}
.AdContent{
	padding: 17px 0px 0px 33px;
}
.AdName a:hover{
	text-decoration: underline;
color: #F60;
}
.AdContent li{

}
.AdName{
	width:158px;
	margin:4px 0 5px 0;
}
.Addesc{
	padding-bottom: 3px;
	color: #C30;
}
.Adprice{
	margin-top:5px;
	color: #C30;
	font-family: Arial;
	font-weight: bold;
}

/**/
.rightSide{
	width:960px;
}

/*右侧商品商品列表和搜索关键词样式*/
.rightSide>.sortBox>h4{
	padding:0 15px 0 15px;
	font-weight:bold;
	border-right:1px solid #ccc;
}
.sortBox,.checkBox{
	background:url("../img/tools_box_bg.png") repeat scroll 0% 0% transparent;
	width:100%;
	height:38px;
	line-height:38px;
	/*background:#E4E4E4;*/
}
.sortMenu{

}
.sortMenu li{
	padding:0 15px 0 15px;
	float:left;
	border-right:1px solid #ccc;
}
.sortMenu li:hover{
	cursor:pointer;
}
.on{
	background:url("../img/tools_box_bg.png") repeat scroll 0% 0% transparent;
	background-position:0 -38px;
	color:white;
}
/*黑色向下箭头*/
.icon,.upicon,.icon{
	background:url("../img/tools_box_bg.png") repeat scroll 0% 0% transparent;
	display: inline-block;
	height: 8px;
	width: 7px;
	background-position: 0px -76px;
	margin-left: 8px;
	overflow: hidden;
}
/*白色向下箭头*/
.on .icon{
	background-position: -21px -76px;
}
/*白色向上箭头*/
.on .upicon{
	background-position: -7px -76px;
}

/*黑色向上箭头*/
.upicon{
	background-position: -15px -76px;
}
/*黑色向下箭头*/
.icon{
	background-position: 0px -76px;
}
/*收货地框*/
.selectBox{
	width:82px;
	float: left;
	border: 1px solid #C2C2C2;
	height: 20px;
	line-height: 20px;
	background: none repeat scroll 0% 0% #FFF;
	margin-top: 8px;
	position: relative;
	z-index: 100;
	text-align:center;
}
.arrow{
	display: inline-block;
	width: 17px;
	border-left: 1px solid #C2C2C2;
	height: 20px;
	vertical-align: top;
	cursor: pointer;
	background: url("../img/tools_box_bg.png") repeat scroll 0% 0% transparent;
	background-position: -20px -146px;
}
.provinceDetail{
	top:19px;
	background:white;
	position:absolute;
	width:314px;
	height:156px;
}
.provinceDetail ul{
	padding-left:8px;
}
.provinceDetail>div{
	font-weight:bold;
	text-align:left;
	width:304px;
	height:22px;
	background:#E8E8E8;
	padding-left:8px;
}
.provinceDetail li{
	margin-top:10px;
	float:left;
	margin-right:20px;
}
.provinceDetail li a:hover{
	color: #FD4708;
	text-decoration: underline;
}
.listName{
	width:200px;
	overflow:hidden;
}
.listPrice{
	width:200px;
}


#goodsListUl li>div{
	border: solid 4px #fff;
 	padding: 16px 16px 0;
 	position: absolute;
}
.listPrice{
	 font-size: 14px;
 	 color: #c30;
 	 font-weight: bold;
 	 padding-right: 10px;
  	font-family: Arial;

}
.listName{
	color:#555555;
}
.listName>a:hover{
	text-decoration:underline;
	color:#f60;
}
.listAdd{
  color: #c30;
  width: 200px;
  overflow: hidden;
  height: 18px;;
}

/*商品星级*/
.star span{
  background: url("../img/icon_star.png") left top repeat-x; display: inline-block;
  width: 80px;/*四颗星*/
  height: 16px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 12px;
  font-size: 0;
}

.link a:hover{
	color:orange;
}

#goodsListUl{
	position:relative;
}

#goodsListUl li:hover{
	outline:4px solid #ffcfb1;
	background:#fff;
	z-index:12;
	height: 373px;
}

#goodsListUl li{
	  border:4px solid none;
	  float: left;
	  width: 240px;
	  height: 339px;
	  line-height: 18px;
	  position: relative;
	  border-bottom: solid 1px #e6e6e6;
}

.brandCat{
	width: 95px;
    float: left;
    padding: 14px 0px 13px 10px;
    font-weight: bold;
}
.brandCatUl{
	padding: 5px 0px 0px 5px;
	width: 714px;
}
.brandCatUl li{
	float: left;
	width: 119px;
	height: 57px;
}


.brandCatUl li a{
	text-decoration: none;
	color: #EC7814;
	padding: 0px;
	border: 2px solid #EC7814;

	display: block;
	padding: 1px;
	border: 1px solid #D8D8D8;
	background: none repeat scroll 0% 0% #FFF;
	height: 48px;
	width: 110px;
	color: #000;
	line-height: 48px;
	text-align: center;
	font-family: "Microsoft Yahei";
	position: relative;
}

.brandCatUl li a>img{
	display: block;
	position: absolute;
	left: 16px;
	top: 5px;
}
.listLeft{
	width: 95px;
    float: left;
    padding: 14px 0px 13px 10px;
    font-weight: bold;
}
.listRight{
	width: 843px;
	float: left;
	padding: 13px 0px 3px;
	position: relative;
}
.listRight .list_content span{
	padding-right: 30px;
	height: 18px;
	float: left;
	display: block;
	padding-bottom: 10px;
	font-family: Arial,宋体;
}

.listRight .list_content span a:hover{
    background: none repeat scroll 0% 0% #FF7A29;
    color: #FFF;
    text-decoration: none;
 }

 .paginating {
    border-top: solid 2px #fe7c2c;
    height: 34px;
    background: url(../img/paginating_bg.png) left 0 repeat-x;
    padding: 0 10px;
    margin-top: 20px;
}
.paginating .paging {
    float: right;
    line-height: 24px;
    color: #666;
    padding-top: 5px;
}
.paginating .none {
    cursor: default;
}
.paginating li {
    float: left;
    height: 24px;
    padding-left: 5px;
}
.paginating .page_input {padding-left: 16px;*font-family: simsun;}

/*当前页的样式*/
.paginating .current {
    text-decoration: none;
    background: #fe7c2c;
    color: #fff;
    border-color: #f75a00;
}
/*数字分页不包括当前页*/
.num,.current,.next,.prev{
    border: solid 1px #c1c1c1;
    line-height: 22px;
    height: 22px;
    display: inline-block;
    padding: 0 8px;
    background: #fff;
    _margin-top: 1px;
    font-family: Arial;
    font-size: 12px;
    color: #555;
    text-decoration: none;
}

.paging a:hover{
	background:#fe7c2c;
}

li .bn {
    display: inline-block;
    vertical-align: top;
    border: solid 1px #ff7a29;
    height: 14px;
    line-height: 14px;
    padding: 1px 0 1px 4px;
    background: #fff;
    border-right: 0;
    overflow: hidden;
    *line-height: 16px;
    cursor: pointer;
}
li .block {
    border: solid 1px #ff7a29;
    border-left: 0;
    padding: 1px 1px 1px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    cursor: pointer;
    padding-left: 5px;
    margin-right: 10px;
    margin-left:-6px;
    background: #fff;
    overflow: hidden;
}
li .block .t {
    display: inline-block;
    font-family: SimSun;
    vertical-align: top;
    _padding-top: 1px;
    color: #FD4708;
}

li .block .close{
	/*position:absolute;*/
    display: inline-block;
    background: #ff7a29 url(../img/btn_bg_new.png)  left -87px top -89px no-repeat;
    width: 13px;
    height: 14px;
    vertical-align: top;
    margin-left: 5px;
    cursor: pointer;
    right:0px;
    bottom:0px;
}
/*.brandCatUl li .block a{
	width: 20px;
	height: 20px;
}*/
.brandCatUl li.user_selected{
	width:300px;
	line-height:57px;
	height:20px;
	margin-top:5px;
	/*position:relative;*/
}
.firstCatUl li.on{
	background-color: #FCF0E8;

}
.firstCatUl li.on>a{
	color:red;
	
}
.secondCatUl li.now{
	 background: #FE792B;
	 color:white;
}
.secondCatUl li.now>a{
	 background: #FE792B;
	 color:white;
}

a.atnow{
	color:blue;
}

